{% extends "client/sidebar.html" %}

{% block content %}

    <table class="table table-striped bg-white">

    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Barcode</th>
            <th>renewals</th>
            <th>Issued on</th>
            <th>Issued from</th>
            <th>Date due</th>
        </tr>
    </thead>
    <tbody >
    {% for issue in issues %}

    <tr>
            <td>    {{ issue.date }}        </td>
            <td>    {{ issue.book.title }}  </td>
            <td>    {{ issue.book.isbn }}   </td>
            <td>    {{ issue.countrenewal }}    </td>
            <td>    {{ issue.issued_time.date }} </td>
            <td>    {{ issue.issuefrom }}   </td>
            <td>    {{ issue.duedate }}</td>
    </tr>

    {% endfor %}
    </tbody>
    </tbody>

{% endblock %}
