{% extends 'base.html' %}
{% load static %}



{% block content %}

    {% if success %}
        <h4 style="color: beige;" class="p-0 bg-success">book added successfully</h4>
    {% endif %}

            <div class="py-4 px-3 px-md-4">
<form method="post" action="{% url 'addBook'  %}">
{% csrf_token %}

                    <div class="row-sm-12 row-xl-8">
            <div class="card mb-3 mb-md-4">
                <div class="card-header">
                  <h5 class="font-weight-semi-bold mb-0">CheckOut</h5>
                </div>
                <div class="card-body pt-0">

                  <h6 class="font-weight-semi-bold mb-3">ISBN</h6>
                  <div class="mb-3 mb-md-4">
                    <input name="isbn" required class="form-control bg-lighter" min="1000000000" max="9999999999999" placeholder="ISBN" type="number">
                  </div>

                  <h6 class="font-weight-semi-bold mb-3">Author</h6>
                  <div class="mb-3 mb-md-4">
                    <input name="author" class="form-control" placeholder="Author" type="text">
                  </div>

                    <h6 class="font-weight-semi-bold mb-3">Title</h6>
                  <div class="mb-3 mb-md-4">
                    <input name="title" class="form-control bg-lighter" placeholder="Title" type="text">
                  </div>

                  <h6 class="font-weight-semi-bold mb-3">Category</h6>
                  <div class="mb-3 mb-md-4">
                    <input required name="category" class="form-control" placeholder="Category" type="text">
                  </div>

                    <h6 class="font-weight-semi-bold mb-3">Publisher</h6>
                  <div class="mb-3 mb-md-4">
                    <input name="publisher" class="form-control bg-lighter" placeholder="Publisher" type="text">
                  </div>

                  <h6 class="font-weight-semi-bold mb-3">Price</h6>
                  <div class="mb-3 mb-md-4">
                    <input name="price" class="form-control" placeholder="Price" min="0" type="number">
                  </div>





                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary" type="submit">Save Changes</button>
                </div>
              </div>

      </div>

</form>
{% endblock %}