{% extends 'frame.html' %}
{% load static %}

{% block sidebar %}

{% csrf_token %}
<form method="get" id="table-form" action="{% url 'member' %}">
    <div class="changelist-filter">
        <h1 class="m-3">Filters</h1>

        <ul style="padding-inline-start: 5px;">
            <li>
                <h3>Member type </h3>
                <select name="membertype" class="form-control">
                    <option {% if filters.membertype == 'All' %}selected{% endif %}>All</option>
                    <option {% if filters.membertype == 'Student' %}selected{% endif %}>Student</option>
                    <option {% if filters.membertype == 'Faculty' %}selected{% endif %}>Faculty</option>
                    <option {% if filters.membertype == 'Others' %}selected{% endif %}>Others</option>
                </select>
            </li>
            <li>
                <input type="text" name="name" class="form-control"  placeholder="name"
                    list="name" {% if filters.name %}value="{{ filters.name }}" {% endif %}>

                <datalist id="name">
                </datalist>



            </li>
            <li>
                <h3>ID range </h3>
                <div class="input-group mb-3">
                    <input type="number" min="0" onchange="document.getElementsByName('idrangemax')[0].min=this.value;"
                        class="form-control" name="idrangemin" placeholder="From 0"
                        {% if filters.idrangemin %}value="{{ filters.idrangemin }}" {% endif %}>
                    <i class="form-control" style="max-width: 40px; margin-right:0px;">to</i>
                    <input type="number" class="form-control" id="idrangemax" name="idrangemax"
                        placeholder="till &#8734" {% if filters.idrangemax %}value="{{ filters.idrangemax }}"
                        {% endif %}>
                </div>
            </li>

            <li>
                    <div data-toggle="collapse" data-target="#memberfilteractive">
                            <span >Active</span>
                            <span style="float: right" class="fas fa-caret-down"></span>
                    </div>
    
                    <div id="memberfilteractive" class="collapse">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="active" class="form-check-input"
                                    {% if filters.active == 'yes' %}checked{% endif %} value="yes">Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="active" class="form-check-input"
                                    {% if filters.active == 'no' %}checked{% endif %} value="no">No
                            </label>
                        </div>
                    </div>
                </li>
    
    
                <input type="hidden" name="sort" {% if filters.sort %}value="{{filters.sort}}" {% endif %}>
                <li>
                    <div data-toggle="collapse" data-target="#memberfilterissues">
                            <span >Issues</span>
                            <span style="float: right" class="fas fa-caret-down"></span>
                    </div>
                    <div id="memberfilterissues" class="collapse">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="issue" class="form-check-input"
                                    {% if filters.issue == 'yes' %}checked{% endif %} value="yes">1 & Above
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="issue" class="form-check-input"
                                    {% if filters.issue == 'no' %}checked{% endif %} value="no">0
                            </label>
                        </div>
                    </div>
                </li>
    
                <li>
                        <div data-toggle="collapse" data-target="#memberfilterfine">
                                <span >Fine</span>
                                <span style="float: right" class="fas fa-caret-down"></span>
                        </div>
    
                    <div id="memberfilterfine" class="collapse">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="fine" class="form-check-input"
                                    {% if filters.fine == 'yes' %}checked{% endif %} value="yes">₹1 & Above
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="fine" class="form-check-input"
                                    {% if filters.fine == 'no' %}checked{% endif %} value="no">₹0
                            </label>
                        </div>
                    </div>
                </li>
    
                <li>
                        <div data-toggle="collapse" data-target="#memberfilteroverdue">
                                <span >Overdue</span>
                                <span style="float: right" class="fas fa-caret-down"></span>
                        </div>
    
                        <div id="memberfilteroverdue" class="collapse">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="overdue" class="form-check-input"
                                        {% if filters.overdue == 'yes' %}checked{% endif %} value="yes">1 Day & Above
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="overdue" class="form-check-input"
                                        {% if filters.overdue == 'no' %}checked{% endif %} value="no">0 Day
                                </label>
                            </div>
                        </div>
                </li>

            <li>
                <input type="submit" class="btn btn-primary">
            </li>
            <li class="extra-space">

            </li>
        </ul>
    </div>
</form>


{% endblock %}

{% block content %}

<input onkeyup="searchTable()" data-target="#allMember" type="text" class="form-control searchTable" style="width:100%"
    placeholder="Search">
<table id="table" class="table table-striped bg-white">

    <thead>
        <tr>
            <th dtype="int">ID
            </th>
            <th dtype="str">Name
            </th>
            <th dtype="str">Type
            </th>
            <th dtype="str">Active
            </th>
            <th dtype="int">Current Issues
                <div value="issue" class="sort"></div>
            </th>
            {% if filters.sort == 'tissue-up' or filters.sort == 'tissue-down' %}
                <th dtype="int">Total Issues
                    <div value="tissue" class="sort"></div>
                </th>
            {% endif %}
            <th dtype="int">Fine
                <div value="fine" class="sort"></div>
            </th>
        </tr>
    </thead>
    <tbody id="allMember">
        {% for member in members %}
        <tr>
            <td><a
                    href="{% url 'member-profile' membertype=member.settings.type memberpk=member.pk  %}">{{ member.id }}</a>
            </td>
            <td>{{ member.name }}</td>
            <td><a target="_blank"
                    href="/admin/LMS/userbasicsetting/{{ member.settings.pk }}/change">{{ member.settings.type }}</a>
            </td>
            <td>{{ member.active }}</td>
            <td>{{ member.issued }}</td>
            {% if filters.sort and filters.sort == 'tissue-up' or  filters.sort == 'tissue-down' %}
                <td>{{ member.count_issues }}</td>
            {% endif %}
            <td>{{ member.fine }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="{% static 'js/allMember.js' %}"></script>
<script src="{% static 'js/sort.js' %}"></script>

{% endblock %}