{% extends 'base.html' %}

{% block content %}

    <input onkeyup="searchTable()" data-target="#allBook" type="text" class="form-control searchTable" style="width:100%"
                    placeholder="Search">
                <table id="table" class="table table-striped bg-white">

                    <thead>
                        <tr>
                            <th>ISBN
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>Title
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>Auther
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>Quantity
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>
                                Issued
                                <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="allBook">

                    {% for isbn in isbns %}

                        <tr>
                            <td>{{ isbn.isbn }}</td>
                            <td>{{ isbn.title }}</td>
                            <td>{{ isbn.author }}</td>
                            <td>{{ isbn.quantity }}</td>
                            <td>{{ isbn.issued }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

{% endblock %}