{% extends 'base.html' %}
{% load static %}



{% block content %}

        <div class="py-4 px-3 px-md-4">

          <div class="card mb-3 mb-md-4">
            <div class="card-header">
              <h5 class="font-weight-semi-bold mb-0">Table Filters</h5>
            </div>

            <div class="card-body pt-0">


              <div class="row">


                  <div class="col-xl mb-3">


                    <div class="d-flex align-items-center flex-wrap pt-1">
                      <div class="form-check position-relative mb-2 mb-md-0 mr-4">
                        <input type="checkbox" class="form-check-input d-none" id="available">
                        <label class="checkbox checkbox-xxs form-check-label ml-1" for="available" data-icon="">Available</label>
                      </div>

                      <div class="form-check position-relative mb-2 mb-md-0 mr-4">
                        <input type="checkbox" class="form-check-input d-none" id="active">
                        <label class="checkbox checkbox-xxs form-check-label ml-1" for="active" data-icon="">Active</label>
                      </div>

                      <div class="form-check position-relative mb-2 mb-md-0">
                        <input type="checkbox" class="form-check-input d-none" id="receptive">
                        <label class="checkbox checkbox-xxs form-check-label ml-1" for="receptive" data-icon="">Receptive</label>
                      </div>
                    </div>
                  </div>
                </div>


  <div class="table-responsive-xl">


    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Book ID</th>
          <th>ISBN</th>
          <th>Status</th>
          <th>Available</th>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>

      {% for book in books %}

        <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.details }}</td>
            {% if book.active %}
          <td class="py-3">
            <span class="badge badge-pill badge-success">Active</span>
          </td>
            {% else %}
            <td class="py-3">
            <span class="badge badge-pill badge-danger">Deactive</span>
          </td>
            {% endif %}
          {% if book.is_issued %}
          <td class="py-3">
            <span class="badge badge-pill badge-danger">not Available</span>
          </td>
            {% else %}
            <td class="py-3">
            <span class="badge badge-pill badge-success">Available</span>
          </td>
            {% endif %}
          <td>{{ book.details.title }}</td>
          <td>{{ book.details.author }}</td>
        </tr>

      {% endfor %}


      </tbody>
    </table>


              </div>
            </div>


          </div>




        </div>

{% endblock %}