{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="py-4 px-3 px-md-4">
<div class="row">


<div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
              <!-- Widget -->
              <h2>Circulation</h2>
<a href="{% url 'checkout' %}" class="card flex-row align-items-center p-2 mb-2">
                <div class="js-donut-chart d-flex position-relative mr-2 mr-md-3" style="width: 50px; height: 50px;" data-series="[60,40]" data-border-width="6" data-start-angle="0" data-fill-colors="[&quot;#0cdcb9&quot;,&quot;#eeeef1&quot;]" id="pieCharts0">
                  <i class="nova-arrow-up icon-text icon-text-xs position-centered position-absolute text-info"></i>
                <div class="ResizeSensor ResizeSensor__resizeTriggers"><div class="ResizeSensor__expandTrigger"><div style="width: 51px; height: 51px;"></div></div><div class="ResizeSensor__contractTrigger"></div></div><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;"><g class="ct-series ct-series-a"><path d="M10.305,45.225A25,25,0,1,0,25,0L25,6A19,19,0,1,1,13.832,40.371Z" class="ct-slice-donut-solid" ct:value="60"></path></g><g class="ct-series ct-series-b"><path d="M25,0A25,25,0,0,0,10.376,45.277L13.886,40.41A19,19,0,0,1,25,6Z" class="ct-slice-donut-solid" ct:value="40"></path></g></svg></div><style id="donutChartsStyle0">#pieCharts0 .ct-series:nth-child(1) .ct-slice-donut-solid {fill: #0cdcb9}#pieCharts0 .ct-series:nth-child(2) .ct-slice-donut-solid {fill: #eeeef1}#pieCharts0 .ct-series .ct-slice-donut-solid {stroke: #ffffff; stroke-width: 0}</style>
                <div>
                  <h5 class="mb-0">Check out</h5>

                </div>
              </a>
              <!-- End Widget -->
              <!-- Widget -->
              <a href="{% url 'checkin' %}" class="card flex-row align-items-center p-2 mb-2">
                <div class="js-donut-chart d-flex position-relative mr-2 mr-md-3" style="width: 50px; height: 50px;" data-series="[75,25]" data-border-width="6" data-start-angle="320" data-fill-colors="[&quot;#474dee&quot;,&quot;#eeeef1&quot;]" id="pieCharts1">
                  <i class="nova-arrow-down icon-text icon-text-xs position-centered position-absolute text-primary-darker"></i>
                <div class="ResizeSensor ResizeSensor__resizeTriggers"><div class="ResizeSensor__expandTrigger"><div style="width: 51px; height: 51px;"></div></div><div class="ResizeSensor__contractTrigger"></div></div><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;"><g class="ct-series ct-series-a"><path d="M5.849,41.07A25,25,0,1,0,8.93,5.849L12.787,10.445A19,19,0,1,1,10.445,37.213Z" class="ct-slice-donut-solid" ct:value="75"></path></g><g class="ct-series ct-series-b"><path d="M8.93,5.849A25,25,0,0,0,5.905,41.136L10.488,37.264A19,19,0,0,1,12.787,10.445Z" class="ct-slice-donut-solid" ct:value="25"></path></g></svg></div><style id="donutChartsStyle1">#pieCharts1 .ct-series:nth-child(1) .ct-slice-donut-solid {fill: #474dee}#pieCharts1 .ct-series:nth-child(2) .ct-slice-donut-solid {fill: #eeeef1}#pieCharts1 .ct-series .ct-slice-donut-solid {stroke: #ffffff; stroke-width: 0}</style>
                <div>
                  <h5 class="mb-0">Check in</h5>

                </div>
              </a>
              <!-- End Widget -->
              <!-- Widget -->
              <a href="{% url 'renew' %}" class="card flex-row align-items-center p-2 mb-2">
                <div class="js-donut-chart d-flex position-relative mr-2 mr-md-3" style="width: 50px; height: 50px;" data-series="[80,20]" data-border-width="6" data-start-angle="0" data-fill-colors="[&quot;#fcd53b&quot;,&quot;#eeeef1&quot;]" id="pieCharts2">
                  <i class="nova-reload icon-text icon-text-xs position-centered position-absolute "></i>
                <div class="ResizeSensor ResizeSensor__resizeTriggers"><div class="ResizeSensor__expandTrigger"><div style="width: 51px; height: 51px;"></div></div><div class="ResizeSensor__contractTrigger"></div></div><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;"><g class="ct-series ct-series-a"><path d="M1.224,17.275A25,25,0,1,0,25,0L25,6A19,19,0,1,1,6.93,19.129Z" class="ct-slice-donut-solid" ct:value="80"></path></g><g class="ct-series ct-series-b"><path d="M25,0A25,25,0,0,0,1.197,17.358L6.91,19.192A19,19,0,0,1,25,6Z" class="ct-slice-donut-solid" ct:value="20"></path></g></svg></div><style id="donutChartsStyle2">#pieCharts2 .ct-series:nth-child(1) .ct-slice-donut-solid {fill: #fcd53b}#pieCharts2 .ct-series:nth-child(2) .ct-slice-donut-solid {fill: #eeeef1}#pieCharts2 .ct-series .ct-slice-donut-solid {stroke: #ffffff; stroke-width: 0}</style>
                <div>
                  <h5 class="mb-0">Renew</h5>

                </div>
              </a>
              <!-- End Widget -->
            </div>


</div>
</div>


{% endblock %}