{% extends 'base.html' %}

{% block content %}
                
                <div class="row">
                    <div class="col-12 col-sm-5">
                        <div class="col bg-light">
                            <span class="fa-stack fa-lg">
                                <i class="far fa-circle fa-stack-2x"></i>
                                <i class="fas fa-arrow-up fa-stack-1x"></i>
                              </span>
                            <span">CheckIn
                        </span"></div>
                        <div class="col bg-light">
                            <span class="fa-stack fa-lg">
                                <i class="far fa-circle fa-stack-2x"></i>
                                <i class="fas fa-arrow-up fa-stack-1x"></i>
                              </span>
                            <span">CheckIn
                        </span"></div>
                        <div class="col bg-light">
                            <span class="fa-stack fa-lg">
                                <i class="far fa-circle fa-stack-2x"></i>
                                <i class="fas fa-arrow-up fa-stack-1x"></i>
                              </span>
                            <span">CheckIn
                        </span"></div>
                    </div>
                    <div class="col-2 col-sm-2"></div>
                    <div class="col-12 col-sm-5">
                        <div class="row bg-light">
                            <i class="fa fa-user pr-4">  </i>
                            <span">thid is ckajsi
                        </span"></div>
                        <div class="row bg-light">
                            <i class="fa fa-user pr-4">  </i>
                            <span">thid is ckajsi
                        </span"></div>
                        <div class="row bg-light">
                            <i class="fa fa-user pr-4">  </i>
                            <span">thid is ckajsi
                        </span"></div>
                    </div>
                </div>
                
           {% endblock %}