{% extends 'base.html' %}

{% block content %}

<div class="row" style="background-color:#e9ecef;">
    <div class="col-12 col-sm-5 col-md-6 m-2  ">
            <ul class="nav nav-tabs flex-column box">
                <li  ">
                    <a href="{% url 'circulation' %}" class="nav-link"><i class="fas fa-sync"></i>Circulation</a>
                </li>
                <li  ">
                    <a href="{% url 'member' %}" class="nav-link"><i class="fas fa-arrow-down"></i>Member</a>
                </li>
            </ul>
        </div>

    <div class="col-12 col-sm-5 col-md-6 m-2 ">
                <ul class="nav nav-tabs box flex-column">
                    <li  ">
                        <a href="{% url 'report' %}" class="nav-link"><i class="fas fa-chart-pie"></i>Report</a>
                    </li>
                </ul>
        </div>
</div>

{% endblock %}