{% extends 'sidebar.html' %}

{% block content %}

<div class="row">
    <div class="col " style="max-width:7cm">
        <p data-toggle="collapse" data-target="#bookOverView">Books(Total:300,Issued:200)</p>

        <div id="bookOverView" class="collapse">
            <div>Total:
                <div style="float:right">200</div>
            </div>
            Issued:30
            Deactive:10
            Reserved:5
        </div> 
    </div>
    <div class="col " style="max-width:7cm">
        <p data-toggle="collapse" data-target="#memberOverView">Books(Total:300,Issued:200)</p>

        <div id="memberOverView" class="collapse">
            Total:300
            Issued:30
            Deactive:10
            Reserved:5
        </div> 
    </div>
    <div class="col " style="max-width:7cm">
        <p data-toggle="collapse" data-target="#newspaperOverView">Books(Total:300,Issued:200)</p>

        <div id="newspaperOverView" class="collapse">
            Total:300
            Issued:30
            Deactive:10
            Reserved:5
        </div> 
    </div>
    <div class="col " style="max-width:7cm">
        <p data-toggle="collapse" data-target="#accountOverView">Books(Total:300,Issued:200)</p>

        <div id="accountOverView" class="collapse">
            Total:300
            Issued:30
            Deactive:10
            Reserved:5
        </div> 
    </div>
</div>

{% endblock %}