{% extends 'sidebar.html' %}

{% block content %}

<div class="row">
    <div class="col-12 col-sm-5 m-1 p-1">
        <p data-toggle="collapse" data-target="#bookOverView">Books(Total:300)</p>

        <div id="bookOverView" class="collapse">
            <div>Total:
                <div style="float:right">200</div>
            </div>
            <div>Issued:
                <div style="float:right">20</div>
            </div>
            <div>Deactive:
                <div style="float:right">10</div>
            </div>
            <div>Reserved:
                <div style="float:right">50</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-5 m-1 p-1">
        <p data-toggle="collapse" data-target="#memberOverView">Student(Total:300)</p>

        <div id="memberOverView" class="collapse">
            <div>Total:
                <div style="float:right">200</div>
            </div>
            <div>Issued:
                <div style="float:right">20</div>
            </div>
            <div>Deactive:
                <div style="float:right">10</div>
            </div>
            <div>Reserved:
                <div style="float:right">50</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-5 m-1 p-1">
        <p data-toggle="collapse" data-target="#newspaperOverView">Newspaper(Total:3)</p>

        <div id="newspaperOverView" class="collapse">
            <div>Total:
                <div style="float:right">200</div>
            </div>
            <div>Issued:
                <div style="float:right">20</div>
            </div>
            <div>Deactive:
                <div style="float:right">10</div>
            </div>
            <div>Reserved:
                <div style="float:right">50</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-5 m-1 p-1">
        <p data-toggle="collapse" data-target="#accountOverView">Accounts(Total:300)</p>

        <div id="accountOverView" class="collapse">
            <div>Total:
                <div style="float:right">200</div>
            </div>
            <div>Staff:
                <div style="float:right">2</div>
            </div>
            <div>Deactive:
                <div style="float:right">10</div>
            </div>
            <div>Reserved:
                <div style="float:right">50</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}