{% extends 'frame.html' %}

{% block content %}

<div class="row">
    <div class="col-12 col-sm-5 m-1 p-1">
        <h4 data-toggle="collapse" data-target="#bookOverView">Books(Total:{{ books.total }})</h4>

        <div id="bookOverView" class="collapse">
            <div>Total:
                <div style="float:right">{{ books.total }}</div>
            </div>
            <div>Issued:
                <div style="float:right">{{ books.issued }}</div>
            </div>
            <div>Deactive:
                <div style="float:right">{{ books.deactive }}</div>
            </div>
            <div>Reserved:
                <div style="float:right">0</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-5 m-1 p-1">
        <h4 data-toggle="collapse" data-target="#memberOverView">Members(Total:{{ members.total }})</h4>

        <div id="memberOverView" class="collapse">
            <div>Total:
                <div style="float:right">{{ members.total }}</div>
            </div>
            <div>Student:
                <div style="float:right">{{ members.student }}</div>
            </div>
            <div>Faculty:
                <div style="float:right">{{ members.faculty }}</div>
            </div>
            <div>Deactive:
                <div style="float:right">{{ members.deactive }}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-5 m-1 p-1">
        <h4 data-toggle="collapse" data-target="#newspaperOverView">Newspaper(Total:{{ newspaper.total }})</h4>

        <div id="newspaperOverView" class="collapse">
            <div>Total:
                <div style="float:right">{{ newspaper.total }}</div>
            </div>
            <div>Received Today:
                <div style="float:right">{{ newspaper.presenttoday }}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-5 m-1 p-1">
        <h4 data-toggle="collapse" data-target="#accountOverView">Accounts(Total:300)</h4>

        <div id="accountOverView" class="collapse">
            <div>Total:
                <div style="float:right">200</div>
            </div>
            <div>Staff:
                <div style="float:right">2</div>
            </div>
            <div>Deactive:
                <div style="float:right">10</div>
            </div>
            <div>Reserved:
                <div style="float:right">50</div>
            </div>
        </div>
    </div>
    <div style="height: 50px;width: 100%;"></div>
    <div class="col-12 col-sm-5 m-1 p-1">
        <h4>Settings</h4>
        <h5><a href="/admin/LMS/userbasicsetting/STUDENT/change/">Student</a></h5>
        <h5><a href="/admin/LMS/userbasicsetting/FACULTY/change/">Faculty</a></h5>
    </div>
</div>

{% endblock %}