{% extends 'base.html' %}
{% load static %}



{% block content %}

        <div class="py-4 px-3 px-md-4">

          <div class="card mb-3 mb-md-4">
            <div class="card-header">
              <h5 class="font-weight-semi-bold mb-0">Table Filters</h5>
            </div>

            <div class="card-body pt-0">

              <div class="card-body pt-0">


                <div class="row">


                    <div class="col-xl mb-3">


                      <div class="d-flex align-items-center flex-wrap pt-1">
                        <div class="form-check position-relative mb-2 mb-md-0 mr-4">
                          <input type="checkbox" checked class="form-check-input d-none" id="overconfident">
                          <label class="checkbox checkbox-xxs form-check-label ml-1" for="overconfident" data-icon="">Student</label>
                        </div>

                        <div class="form-check position-relative mb-2 mb-md-0 mr-4">
                          <input type="checkbox" checked class="form-check-input d-none" id="disillusioned">
                          <label class="checkbox checkbox-xxs form-check-label ml-1" for="disillusioned" data-icon="">Faculty</label>
                        </div>

                        <div class="form-check position-relative mb-2 mb-md-0">
                          <input type="checkbox" checked class="form-check-input d-none" id="receptive">
                          <label class="checkbox checkbox-xxs form-check-label ml-1" for="receptive" data-icon="">others</label>
                        </div>
                      </div>
                    </div>
                  </div>


    <div class="table-responsive-xl">


                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>User Type</th>
                        <th>Issued Books</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>

                    {% for member in members %}

                        <tr>
                        <td>{{ member.name }}</td>
                            <td><a target="_blank" href="/admin/LMS/userbasicsetting/{{ member.settings.pk }}/change/">{{ member.settings }}</a></td>
                        <td>{{ member.count_books }}</td>
                            {% if member.active %}
                        <td class="py-3">
                          <span class="badge badge-pill badge-success">Active</span>
                        </td>
                        {% else %}
                        <td class="py-3">
                          <span class="badge badge-pill badge-danger">Deactive</span>
                        </td>
                        {% endif %}
                      </tr>

                    {% endfor %}

                    {% if not members %}
                    <tr>
                    <td colspan=100% align="center"><h3 class="active">No Members to show</h3></td>
                    </tr>
                    {% endif %}

                    </tbody>
                  </table>


                </div>
              </div>


            </div>


          </div>




        </div>

{% endblock %}>