{% extends 'base.html' %}

{% block content %}

    <form method="post" action="{% url 'renew' %}" style="background-color:#e9ecef;">
            {% csrf_token %}

    <div class="row" style="background-color:#e9ecef;">
					<div class="col-12 col-sm-5 bg-white m-2 p-3 shadow">
				<fieldset>
					<legend>Return</legend>
					<label for="barcode">Enter item barcode: </label>

					<input name="barcode" id="barcode" size="14" class="focus" type="text">

					<input type="submit" class="submit" value="Submit">





					</fieldset>
				</div>
				<div class="col-12 col-sm-5 bg-white m-2 p-3 shadow">
					<fieldset id="checkin_options">
						<legend>Options</legend>



						<input type="checkbox" id="forgiveoverdue" name="forgiveoverdue" >

						<label for="forgiveoverdue">Forgive overdue charges</label>

						 <!-- overduecharges -->
						<br>

						<input type="checkbox" id="dropboxcheck" name="dropboxmode" value="dropboxmode">

						<label for="dropboxcheck">Book drop mode</label>

						 <!-- overduecharges -->
						</fieldset>
					</div>
					</div>
    </form>
{% endblock %}