{% extends 'base.html' %}

{% block content %}

 {% if error %}
        <div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Alert!</strong> {{error}}
</div>
    {% endif %}

<div class="row" style="background-color:#e9ecef;">


    <div class="col-12 col-sm-5 bg-white m-2 p-3 shadow">
        <form method="post" action="{% url 'return' %}" style="background-color:#e9ecef;">
            {% csrf_token %}
            <fieldset>
                <legend>Return</legend>
                <label for="barcode">Enter item barcode: </label>

                <input name="barcode" id="barcode" size="14" class="form-control" type="text" placeholder="Barcode">

                <input type="submit" class="submit btn btn-primary" value="Submit">

            </fieldset>
        </form>
    </div>

    {% if Issues %}
    <form action="{% url 'return' %}" method="post">
        {% csrf_token %}
        <div class="col-12 col-sm-5 bg-white m-2 p-3 shadow">
            <fieldset id="checkin_options">
                <legend>Options</legend>



                <input type="checkbox" id="forgiveoverdue" name="forgiveoverdue">

                <label for="forgiveoverdue">Forgive overdue charges</label>
                <br>
                <!-- overduecharges -->


                <input type="checkbox" id="dropboxcheck" name="dropboxmode">

                <label for="dropboxcheck">Book drop mode</label>

                <!-- overduecharges -->
            </fieldset>
        </div>


        <div class="col-12 bg-white m-2 p-3 shadow" style="background-color:#e9ecef;">



            <input onkeyup="searchTable()" data-target="#allMember" type="text" class="form-control searchTable"
                style="width:100%" placeholder="Search">
            <table id="table" class="table table-striped bg-white">

                <thead>
                    <tr>

                        <th>Due Date
                            <i class="fas fa-long-arrow-alt-down sorted"></i>
                        </th>
                        <th>
                                Member
                                <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>
                                Member ID
                                <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                        <th>
                            Title
                            <i class="fas fa-long-arrow-alt-down sorted"></i>
                        </th>
                        <th>
                            Author
                            <i class="fas fa-long-arrow-alt-down sorted"></i>
                        </th>
                        <th>
                            Barcode
                            <i class="fas fa-long-arrow-alt-down sorted"></i>
                        </th>
                        

                    </tr>
                </thead>
                <tbody id="allMember">

                    {% for issue in Issues.all %}

                    <tr>
                        <td>{{ issue.duedate }}</td>
                        <td>{{ issue.member.name }}</td>
                        <td>{{ issue.member.pk }}</td>
                        <td>{{ issue.book.title }}</td>
                        <td>{{ issue.book.author }}</td>
                        <td>{{ issue.book.isbn }}</td>
                        
                        <td>

                            <button type="submit" name="pk" value="{{ issue.pk }}"
                                class="btn btn-primary">Return</button>


                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>



        </div>
    </form>
    {% endif %}

</div>



{% endblock %}