{% extends 'base.html' %}

{% block content %}

    <div class="row" style="background-color:#e9ecef;">
					<div class="col-12 col-sm-5 bg-white m-2 p-3 shadow">
				<fieldset>
					<legend>Return</legend>
					<label for="barcode">Enter item barcode: </label>

					<input name="barcode" id="barcode" size="14" class="focus" type="text">

					<input type="submit" class="submit" value="Submit">





					</fieldset>
				</div>
				<div class="col-12 col-sm-5 bg-white m-2 p-3 shadow">
					<fieldset id="checkin_options">
						<legend>Options</legend>

						<p>

						<input type="checkbox" id="exemptcheck" name="exemptfine" value="exemptfine">

						<label for="exemptcheck">Forgive overdue charges</label>
						</p>
						 <!-- overduecharges -->
						<p>

						<input type="checkbox" id="dropboxcheck" name="dropboxmode" value="dropboxmode">

						<label for="dropboxcheck">Book drop mode</label>
						</p>
						 <!-- overduecharges -->
						</fieldset>
					</div>
					</div>

{% endblock %}