{% extends 'frame.html' %}

{% block content %}
                <input onkeyup="searchTable()" data-target="#data" type="text" class="form-control searchTable" style="width:100%"
                    placeholder="Search">
                <table id="table" class="table table-striped bg-white">

                    <thead>
                        <tr>
                            <td>
                                <input type="checkbox" class="form-control">
                            </td>
                            <th>0
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>a
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>
                                oiuf
                                <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>wsrgfef
                                <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>wrdgw 
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="data">
                        <tr>
                                <td>
                                        <input type="checkbox" class="form-control">
                                    </td>
                            <td>0</td>
                            <td>a</td>
                            <td>b</td>
                            <td>qwrewgth</td>
                            <td>2</td>
                        </tr>
                        <tr>
                                <td>
                                        <input type="checkbox" class="form-control">
                                    </td>
                            <td>2</td>
                            <td>c</td>
                            <td>c</td>
                            <td>qwrewgth</td>
                            <td>1</td>
                        </tr>
                        <tr>
                                <td>
                                        <input type="checkbox" class="form-control">
                                    </td>
                            <td>3</td>
                            <td>d</td>
                            <td>D</td>
                            <td>qwrewgth</td>
                            <td>0</td>
                        </tr>
                        <tr>
                                <td>
                                        <input type="checkbox" class="form-control">
                                    </td>
                            <td>3</td>
                            <td>d</td>
                            <td>D</td>
                            <td>qwrewgth</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>

                <input data-target="#secdata" type="text" class="form-control searchTable" style="width:100%"
                    placeholder="Search">
                <table class="table table-striped bg-white">

                    <thead>
                        <tr>
                                <td>
                                        <input type="checkbox" class="form-control">
                                    </td>
                            <th>0
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>a
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>
                                oiuf
                                <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>wsrgfef
                                <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                            <th>wrdgw 
                                    <i class="fas fa-long-arrow-alt-down sorted"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="secdata">
                        <tr>
                                <td>
                                        <input type="checkbox" class="form-control">
                                    </td>
                            <td>0</td>
                            <td>a</td>
                            <td>b</td>
                            <td>qwrewgth</td>
                            <td>2</td>
                        </tr>
                        <tr>
                                <td>
                                        <input type="checkbox" class="form-control">
                                    </td>
                            <td>2</td>
                            <td>c</td>
                            <td>c</td>
                            <td>qwrewgth</td>
                            <td>1</td>
                        </tr>
                        <tr>
                                <td>
                                        <input type="checkbox" class="form-control">
                                    </td>
                            <td>3</td>
                            <td>d</td>
                            <td>D</td>
                            <td>qwrewgth</td>
                            <td>0</td>
                        </tr>
                        <tr>
                                <td>
                                        <input type="checkbox" class="form-control">
                                    </td>
                            <td>3</td>
                            <td>d</td>
                            <td>D</td>
                            <td>qwrewgth</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>

            {% endblock %}