{% extends 'frame.html' %}
{% load static %}

{% block sidebar %}
			<div class="sidebar-header">
				<img src="{% static 'img/anon.svg' %}" width=200px height=200px>
                <h3>{{ member.name }}</h3>
			</div>

			<ul class="nav nav-pills flex-column pt-3">
				<li class="nav-item ">
				  <a class="nav-link active" href="/"><i class="fas fa-home"></i>
					<span>Dashboard</span></a>
				</li>
                <li class="nav-item ">
				  <a class="nav-link" href="{% url 'member-issue' memberpk=member.pk membertype=member.settings.type %}"><i class="fas fa-tachometer-alt"></i>
					<span>issue</span></a>
				</li>
                <li class="nav-item ">
				  <a class="nav-link" href="{% url 'member-profile' memberpk=member.pk membertype=member.settings.type %}"><i class="fas fa-tachometer-alt"></i>
					<span>Details</span></a>
				</li>
                <li class="nav-item ">
				  <a class="nav-link" href="{% url 'member-circulation' memberpk=member.pk membertype=member.settings.type %}"><i class="fas fa-tachometer-alt"></i>
					<span>Circulations</span></a>
				</li>

			  </ul>
{% endblock %}

	             {% block content %}



                {% endblock %}
