{% extends 'member/base.html' %}
{% load static %}
{% block content %}

<table class="table" style="text-align: center;">

  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Author</th>
      <th>Barcode</th>
      <th>Number of renewals</th>
      <th>Checked out on</th>
      <th>Checked out from</th>
      <th>Date due</th>
      <th>Return date</th>
    </tr>
  </thead>

  <tbody id="circulations">
    {% for issue in issues%}

    <tr {% if issue.isLate %} style="color:red" {% endif %}>
      <td>
        <span>{{issue.date}}</span>
      </td>
      <td><a href="#">{{issue.book.title}}</a></td>

      <td>{{issue.book.author}}</td>
      <td><a target="_blank" href="/admin/LMS/isbn/{{ issue.book.isbn }}/change">{{issue.book.isbn}}</a></td>
      <td>{{issue.countrenewal}}</td>
      <td>
        <span>{{ issue.issued_time }}</span>
      </td>
      <td>{{ issue.issuefrom }}</td>
      <td>
        <span>{{ issue.duedate }}</span>
      </td>
      <td>
        {% if issue.is_returned %}
        <span>Checked out</span>
        {% else %}
        <span>{{ issue.return_date }}</span>
        {% endif %}
      </td>
    </tr>

    {% endfor %}

  </tbody>

</table>

<script src="{% static 'js/circulations.js' %}">
</script>

{% endblock %}