{% extends 'member/base.html' %}

{% block content %}

<div class="shadow ">
    <a href="#" style="float:right" class="badge bg-warning mr-3">Edit <i class="fa fa-edit"></i></a>
    <table class="p-3 m-3" style="text-align: unset;">
        <tr>
            <th>Name</th>
            <td>Diwakar Gupta</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>Student</td>
        </tr>
        <tr>
            <th>email</th>
            <td>djleelkgjk@jlhd.com</td>
            <td><i class="fas fa-edit"></i></td>
        </tr>
        <tr>
            <th>Current Issue</th>
            <td>3</td>
        </tr>
        <tr>
            <th>Total Issue</th>
            <td>7</td>
        </tr>
        <tr>
            <th>Fine</th>
            <td>0</td>
        </tr>
    </table>
</div>

{% endblock %}